* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#top-area {
  background-color: #333f98;
}

#top-area .my-container {
  padding: 30px 0;
  width: 97%;
  margin: auto;
}

#top-area .my-btn {
  width: 100px;
  height: 45px;
  padding-top: 10px;
  background-color: #333f98;
  border: none;
}

#top-area .flag-menu li img {
  width: 26px;
  height: 26px;
}

#top-area .image {
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top-area .image img {
  position: absolute;
}

#top-area .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

#top-area .icons .btn-secondary {
  background-color: #333f98 !important;
  border: none !important;
}

#top-area .icons .bg-color {
  background-color: #ff5722;
}

#top-area .icons div {
  width: 45px;
  height: 45px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
}

#top-area .icons div .sup {
  width: 25px;
  height: 25px;
  font-size: 15px;
  top: -25px;
  right: -25px;
  background-color: #ff5722;
  border-radius: 50%;
  color: white;
}

#top-area .icons div .sup sup {
  margin-top: 10px;
}

#top-area .icons div img {
  width: 45px;
  height: 45px;
  margin-top: -8px;
  margin-left: -11px;
  border-radius: 50%;
  position: absolute;
}

#top-area .icons div .fa-cart-shopping {
  position: absolute;
  top: 13px;
  left: 9px;
}

#top-area .icons div i {
  color: white;
  font-size: 20px;
  position: absolute;
}

#top-area .icons div .drop-info {
  margin-left: -50px !important;
  margin-top: -50px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#top-area .icons div .drop-info .info {
  border: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#top-area .icons div .drop-info .info .dropdown-item {
  background-color: white;
}

#top-area .icons div .drop-info .info i {
  color: #000;
  background-color: none !important;
}

#top-area .icons div .drop-info .info a {
  margin-left: 60px;
}

#navbar-area {
  background-color: #283593;
}

#navbar-area .my-container {
  width: 97%;
  margin: auto;
}

#navbar-area .my-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#navbar-area .my-container nav .search {
  width: 60px;
  height: 60px;
  background-color: #ff5722;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: -30px;
  z-index: 2;
}

#navbar-area .my-container nav .search i {
  color: white;
  font-size: 20px;
}

#navbar-area .my-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

#navbar-area .my-container .btn .admin {
  width: 125px;
  background-color: #ff5722;
  padding: 9px 0;
}

#navbar-area .my-container .btn li {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
  z-index: 2;
  padding: 0 10px;
}

#navbar-area .my-container .btn li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;
}

#navbar-area .my-container .btn li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #ff5722;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  visibility: hidden;
}

#navbar-area .my-container .btn li:hover .home {
  height: 120px;
  z-index: 2;
}

#navbar-area .my-container .btn li:hover .submenu {
  height: 160px;
  z-index: 2;
}

#navbar-area .my-container .btn li:hover .categori {
  height: 250px;
  z-index: 2;
}

#navbar-area .my-container .btn li:hover a::before {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#navbar-area .my-container .btn li .home {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#navbar-area .my-container .btn li .home a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

#navbar-area .my-container .btn li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 185px;
  line-height: 40px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#navbar-area .my-container .btn li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

#navbar-area .my-container .btn li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 800px;
  line-height: 30px;
  text-align: left;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  text-align: left;
  margin-left: -200px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#navbar-area .my-container .btn li .categori table td {
  border: none;
}

#navbar-area .my-container .btn li .categori table th {
  font-size: 17px;
  color: blue;
}

#navbar-area .my-container .btn li .categori table th:hover {
  color: #000;
}

#navbar-area .my-container .btn h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}

#scroll-section {
  background-color: #283593;
  z-index: 2;
  position: fixed;
  width: 100%;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#scroll-section .my-container {
  width: 97%;
  margin: auto;
}

#scroll-section .inActive {
  display: none;
}

#scroll-section .head {
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#scroll-section .head img {
  position: absolute;
  color: white !important;
}

#scroll-section nav {
  float: right;
}

#scroll-section .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

#scroll-section .btn .admin {
  background-color: #ff5722;
  width: 125px;
  height: 60px;
  padding-top: 4px;
  margin-right: 0;
}

#scroll-section .btn li {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}

#scroll-section .btn li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 15px;
  padding-bottom: 10px;
}

#scroll-section .btn li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #ff5722;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  visibility: hidden;
}

#scroll-section .btn li:hover .home {
  height: 120px;
}

#scroll-section .btn li:hover .submenu {
  height: 160px;
}

#scroll-section .btn li:hover .categori {
  height: 250px;
}

#scroll-section .btn li:hover a::before {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

#scroll-section .btn li .home {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#scroll-section .btn li .home a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

#scroll-section .btn li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 165px;
  line-height: 40px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#scroll-section .btn li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

#scroll-section .btn li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 800px;
  line-height: 30px;
  text-align: left;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  text-align: left;
  margin-left: -220px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

#scroll-section .btn li .categori table td {
  border: none;
}

#scroll-section .btn li .categori table th {
  font-size: 17px;
  color: blue;
}

#scroll-section .btn li .categori table th:hover {
  color: #000;
}

#scroll-section .btn h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}

#banner {
  height: 310px;
  background-image: url(../../images/accessories/page-title-bar.3ed966eb.jpg);
  background-position: 2%;
  background-size: 100%;
  position: relative;
}

#banner .my-container {
  width: 100%;
  margin: auto;
}

#banner img {
  width: 100%;
  height: 344px;
}

#banner .product-name {
  width: 100%;
  position: absolute;
  top: 90px;
  text-align: center;
}

#banner .product-name h1 {
  font-size: 50px;
  color: white;
}

#banner .product-name p {
  color: white;
  font-size: 20px;
}

#banner .icon {
  width: 60px;
  height: 60px;
  background-color: #ff5722;
  position: absolute;
  right: 15px;
  top: -30px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#banner .icon i {
  font-size: 20px;
  padding-left: 18px;
  padding-top: 19px;
  color: white;
}

#about-1 {
  padding-top: 80px;
}

#about-1 .my-container {
  width: 97%;
  margin: auto;
}

#about-1 h1 {
  margin-top: 100px;
  font-size: 55px;
}

#about-1 button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  color: white;
  background-color: #ff5722;
}

#about-1 img {
  width: 100%;
}

#about-2 {
  background-color: whitesmoke;
  padding-top: 80px;
  margin-top: 80px;
}

#about-2 .my-container {
  width: 97%;
  margin: auto;
}

#about-2 img {
  width: 100%;
}

#about-2 h1 {
  margin-top: 150px;
}

#about-3 {
  padding-bottom: 100px;
  background-color: whitesmoke;
}

#about-3 .my-container {
  width: 97%;
  margin: auto;
}

#about-3 h1 {
  margin-top: 150px;
}

#about-3 img {
  width: 100%;
}

#banner-slider {
  height: 630px;
  background-image: url(../../images/about/about-bg.b3a0b71c.jpg);
  background-position: 2%;
  background-size: 100%;
}

#banner-slider .carousell-section {
  width: 800px;
  height: 480px;
  margin-top: 90px;
}

#banner-slider .swiper-slide {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: white;
  text-align: center;
}

#banner-slider .swiper-slide h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #aa9b9b;
}

#banner-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}

#banner-slider .swiper-button-next {
  right: 4% !important;
  top: 46% !important;
}

#banner-slider .swiper-button-prev {
  left: 4% !important;
  top: 46% !important;
}

#banner-slider .carousell-section {
  padding-top: 70px;
  position: relative;
}

#banner-slider .component-section {
  padding: 50px;
}

#banner-slider .component-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#banner-slider .component-card {
  position: relative;
  width: 31.5%;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2) !important;
}

#banner-slider .component-card .component-text {
  padding-left: 90px;
}

#ceo-about {
  height: 650px;
  padding-top: 70px;
  background-color: whitesmoke;
}

#ceo-about .my-container {
  width: 97%;
  margin: auto;
}

#ceo-about h1 {
  text-align: center;
  margin-bottom: 50px;
}

#ceo-about .ceo-1 {
  width: 461.99px;
  height: 383px;
  text-align: center;
}

#ceo-about .ceo-1 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#ceo-about .ceo-1 h4 {
  margin-top: 30px;
}

#register .form-wrapper {
  max-width: 31.5%;
  min-width: 300px;
  margin: 15px auto;
  padding-top: 30px;
}

#register .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#register .form-group {
  position: relative;
}

#register .form-group + .form-group {
  margin-top: 30px;
}

#register .form-label {
  position: absolute;
  left: 0;
  top: 10px;
  color: grey;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  cursor: auto;
}

#register .focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: 0.75em;
}

#register .form-group {
  width: 90%;
}

#register .form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 90%;
  outline: 0;
  border: 0;
  border-bottom: 1px solid grey;
  background-color: transparent;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
  caret-color: white;
  color: white;
}

#register .form-input:focus {
  -webkit-box-shadow: 0 1px 0 0 blue;
          box-shadow: 0 1px 0 0 blue;
}

#register h1 {
  margin-top: 80px;
}

#register button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  color: white;
  background-color: #ff5722;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

#register button:hover {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#site-about {
  background-color: black;
}

#site-about .my-container {
  width: 97%;
  height: 400px;
  margin: auto;
  background-color: black;
}

#site-about .about p:hover {
  cursor: pointer;
  color: orange;
}

#site-about h6,
#site-about p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 40px;
  margin-top: 30px;
  color: white;
}

#site-about span {
  float: right;
  color: white;
}
/*# sourceMappingURL=about.css.map */